*{
   margin:0;
   padding:0; 
}

.nav{
    display:flex;
    justify-content: space-between;
    background-color: #242424; 
    color:white;
    padding:5px 10px;
    height:100px;
    width:1346px;
    align-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: larger;
}

.logo{
    font-weight: bold;
    color:#fff;
}

.list{
    list-style-type: none;
    display:flex;
    gap:20px;
}

.list li{
   text-decoration: none;
   font-size: large;
   color:#fff;
}